APIFY_API_TOKEN=your_apify_token_here
HF_TOKEN=your_hf_token_here
DATABASE_URL=postgresql+psycopg://postgres:secret@db:5432/scrapify
POSTGRES_PORT=5434
LINKEDIN_COOKIE_JSON=[]
MAX_POSTS_PER_PLATFORM=200
MAX_COMMENTS_PER_POST=200
LOG_LEVEL=INFO
LOG_FILE=scrapyfy.log
